:root {
  --blue: #405fca;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Open Sans", sans-serif;
  color: #2f3542;
}
a {
  text-decoration: none;
  color: #2f3542;
  transition: 0.5s;
}
a:hover {
  color: var(--blue);
  transition: 0.5s;
}
body {
  display: grid;
  height: 100%;
  grid-template-columns: 18vw 1fr;
  background: #f5f7ff;
  grid-gap: 3vw;
}
img {
  max-width: 100%;
}
li {
  list-style-type: none;
}
.container {
  padding: 2%;
  min-width: 80%;
}
.title {
  padding: 1.5% 1.5% 0%;
}
.back {
  margin-top: 5%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Side bar CSS */
.sidebar {
  background: #eaefff;
  padding: 5%;
  min-height: 100vh;
}
.sidebar__link {
  font-size: 1.5rem;
  color: var(--blue);
  margin-bottom: 20%;
  font-weight: bold;
}
.sidebar__text {
  color: var(--blue);
  font-size: 0.8rem;
  margin: 10% 0%;
}
.sidebar__option {
  color: var(--blue);
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar__connexion i {
  color: var(--blue);
  font-size: 1.2rem;
  margin-left: 2%;
}
.sidebar__title {
  margin: 10% 0 5% 0;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 30vh;
}
.sidebar__item {
  font-size: 0.9rem;
  display: flex;
  transition: 0.5s;
}
.sidebar__item:hover {
  color: var(--blue);
  transition: 0.5s;
}
.sidebar__number {
  margin-left: auto;
}

/* Tools */
.tools {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
}
.tool {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  margin-top: 5%;
}
.tool__date {
  position: absolute;
  top: 5%;
  left: 5%;
  background: #eaefff;
  font-size: 0.8rem;
  padding: 1%;
}
.tool__informations {
  padding: 3%;
  font-size: 0.9rem;
}
.tool__tagsList {
  display: flex;
}
.tool__tag {
  border: 1px solid #2f3542;
  padding: 1%;
  width: 30%;
  text-align: center;
  margin: 3% 2% 3% 0;
  border-radius: 5%;
}
.tool__description {
  margin-bottom: 3%;
}
.tool__link {
  padding: 2% 0 0 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #b2d0f7;
  font-size: 1.1rem;
}
.tool__image {
  width: 345px;
  height: 205px;
  object-fit: cover;
}
.tool__link > span {
  color: var(--blue);
  font-weight: 600;
  margin-left: 0.5rem;
}
.tool__announce {
  font-weight: 600;
}
.creators {
  display: flex;
  justify-content: flex-start;

  margin: 0.7rem 0;
}
.creators__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #2f3542;
}

/* My tools */
.myTools__tools {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
}
.remove_tool,
.edit_tool {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  color: white;
  padding: 1%;
  background: black;
  opacity: 0.6;
}
.edit_tool {
  right: 10%;
}

/* Categories */
.myCategories__categories {
  display: flex;
  flex-direction: column;
}
.category {
  margin-top: 3%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.category__item {
  display: flex;
  justify-content: center;
  background-color: #eaefff;
  padding: 0.5% 1%;
  border: 1px solid var(--blue);
  align-items: center;
  margin: 1%;
}
.category__item p {
  margin-right: 5px;
}
.remove_category {
  font-weight: 600;
  color: var(--blue);
  cursor: pointer;
}

/* Users */
.myUsers {
  display: flex;
  flex-direction: column;
}
.users {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 280px));
}
.user {
  margin: 1%;
  border: 1px solid var(--blue);
  background: #eaefff;
  position: relative;
}

.user__informations {
  padding: 2%;
}
.user__date {
  position: absolute;
  top: 2%;
  left: 3%;
  background: #eaefff;
}
.user__github {
  color: var(--blue);
}
.user__github:hover {
  color: #6373ac;
}

/* Formulaires */
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80%;
}
.form form {
  min-height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form div {
  display: flex;
  flex-direction: column;
}
.form input,
.form__button,
.form select,
.form textarea {
  background: unset;
  border: 0;
}
.form input {
  border-bottom: 1px solid var(--blue);
}
.form select,
.form textarea {
  border: 1px solid var(--blue);
}
.form__button {
  margin-top: 5%;
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: 3%;
}
/* File reader */
#afterSelect {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

form .hidden {
  display: none;
}
