:root {
  --blue: #405fca;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: "Open Sans", sans-serif;
  color: #2f3542;
}
a {
  text-decoration: none;
  color: #2f3542;
  transition: 0.5s;
}
a:hover {
  color: var(--blue);
  transition: 0.5s;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
  background: #f5f7ff;

}

img {
  max-width: 100%;
}
li {
  list-style-type: none;
}
.container {
  padding: 2%;
  min-width: 80%;
}
.title {
  padding: 1.5% 1.5% 0%;
  color: var(--blue);
  margin-bottom: 5%;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Side bar CSS */
.sidebar {
  background: #eaefff;
  padding: 5%;
  min-height: 100vh;
}
.sidebar__link {
  font-size: 1.5rem;
  color: var(--blue);
  margin-bottom: 0;
  font-weight: bold;
}
.sidebar__text {
  font-size: 0.8rem;
  margin: 5% 0%;
}
.sidebar__option {
  color: var(--blue);
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar__connexion i {
  color: var(--blue);
  font-size: 1.2rem;
  margin-left: 2%;
}
.sidebar__title {
  color: var(--blue);
  margin: 5% 0 5% 0;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sidebar__item {
  font-size: 0.9rem;
  display: flex;
  transition: 0.5s;
  margin: 2% 0;
}
.sidebar__item:hover {
  color: var(--blue);
  transition: 0.5s;
}
.sidebar__number {
  margin-left: auto;
}
.la-tools{
  color: var(--blue);
  font-size: 1.5rem;
  margin-right: 1%;
}
.active
{
  background-color: white;
  border-radius: 5px;
  padding: 2%;
}

/* Tools */
.tools {
  display: grid;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
}
.tool {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  margin-top: 5%;
}
.tool__date {
  position: absolute;
  top: 2%;
  left: 2%;
  background: #eaefff;
  font-size: 0.8rem;
  padding: 1%;
}
.tool__informations {
  padding: 3%;
  font-size: 0.9rem;
}
.tool__tagsList {
  display: flex;
}
.tool__tag {
  border: 1px solid #2f3542;
  padding: 1%;
  width: 30%;
  text-align: center;
  margin: 3% 2% 3% 0;
  border-radius: 5%;
}
.tool__description {
  margin-bottom: 3%;
}
.tool__link {
  padding: 2% 0 0 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #b2d0f7;
  font-size: 1.1rem;
}
.tool__image {
  width: 345px;
  height: 205px;
  object-fit: cover;
}
.tool__link > span {
  color: var(--blue);
  font-weight: 600;
  margin-left: 0.5rem;
}
.tool__announce {
  font-weight: 600;
}
.creators {
  display: flex;
  justify-content: flex-start;

  margin: 0.7rem 0;
}
.creators__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #2f3542;
}

/* My tools */
.myTools__tools {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
}
.remove_tool,
.edit_tool {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  color: white;
  padding: 1%;
  background: black;
  opacity: 0.6;
}
.edit_tool {
  right: 10%;
}

/* Categories */
.myCategories__categories {
  display: flex;
  flex-direction: column;
}
.category {
  margin-top: 3%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.category__item {
  display: flex;
  justify-content: center;
  background-color: #eaefff;
  padding: 0.5% 1%;
  border: 1px solid var(--blue);
  align-items: center;
  margin: 1%;
}
.category__item p {
  margin-right: 5px;
}
.remove_category {
  font-weight: 600;
  color: var(--blue);
  cursor: pointer;
}

/* Users */
.myUsers {
  display: flex;
  flex-direction: column;
}
.users {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 280px));
}
.user {
  margin: 1%;
  border: 1px solid var(--blue);
  background: #eaefff;
  position: relative;
}

.user__informations {
  padding: 2%;
}
.user__date {
  position: absolute;
  top: 2%;
  left: 3%;
  background: #eaefff;
}
.user__github {
  color: var(--blue);
}
.user__github:hover {
  color: #6373ac;
}
.error{
  color: red;
}

/* Formulaires */
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80%;
}
.form form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 250px;
}
.form div {
  display: flex;
  flex-direction: column;
}
.form input,
.form__button,
.form select,
.form textarea {
  background: unset;
  border: 0;
  font-size: 1rem;
}
.form input {
  border-bottom: 1px solid var(--blue);
}
.form select,
.form textarea {
  border: 1px solid var(--blue);
}
.form div.buttons{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 10%;
}
.form__button {
  
  color: var(--blue);
  padding: 10px;
  font-size: 1em;
  border: 1px solid var(--blue);

}
.back
{
  font-size: 1em;
  display: block;
}
.form div.image{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  border: none;
}
.file__label {
  background: var(--blue);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 2% 1%;
  text-align: center;
  width: 50%;
  margin: 5% auto;
}
/* File reader */
#afterSelect {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--blue);
}
#actual_img{
  width: 300px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--blue);
}

form .hidden {
  display: none;
}
/**Menu */
.menu{
  display: flex;
  font-size: 2rem;
  color: var(--blue);
  margin-right: auto;
  position: relative;
  z-index: 3;
}
.show{
  animation: showing-menu 1s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.hide{
  display: none;
}
.overflow{
  overflow-y: hidden;
}
@keyframes showing-menu{
  0%{
    display: flex;
    flex-direction: column;
    width: 0;
  }
  100%{
    width: 100vw;
  }
}
@keyframes hidding-menu{
  0%{
    width: 100vw;
  }
  100%{
    width: 0;
    display: none;
  }
}
/** Media query */


@media screen and (min-width: 740px) {
  .sidebar__link{
    margin-bottom: 20%;
  }
  .sidebar__text{
    margin: 10% 0%;
  }
  body{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 250px 1fr;
    grid-gap: 3vw;
  }
  .menu{
    display: none;
  }
  .tools{
    margin: 0;
  }
  .hide{
    display:flex;
    flex-direction: column;
    margin-bottom: auto;
  }
  .title{
    margin-bottom: 2%;
  }
}
