{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}
<div class="users">

    <p>TADA Tu es sur le backoffice</p>
    <p> Tu as vu que il est super méga génial</p>

    

</div>


{% endblock %}
