<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link href="{{ asset('assets/img/favicon.png') }}" rel="icon">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include '_partials/_sidebar.html.twig' %}
        {% block body %}{% endblock %}
        {% block js %}
        {% endblock %}
    </body>
</html>
